<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="signIn-card">
    <div class="signIn_head">
      Login to access features
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>

    <div class="signIn">
      <div class="signIn_form">

      </div>
      <div class="signIn_login">
        <button mat-button color="login">
          Log In
        </button>
      </div>
      <div class="signIn_forgot">
        <a routerLink="/recover">Forgot Password?</a>
      </div>
      <div class="signIn_hr">
        <hr size="1" width="95%">
      </div>
      <div class="signIn_create">
        <button mat-button color="success" routerLink="/signUp">
          Create New Account
        </button>
      </div>
    </div>


  </mat-card>
</form>