* {
  /* max-width: 700px; */
   margin: auto;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*test*/
h1,h4 {
   text-align: center;
   margin: auto;
}

h1 {
   font-weight: bold;
   font-size: xx-large;

}

h4 {
   padding: 0px;
   font-weight: 400;
}

.counter {
   max-width: 225px;
   text-align: center;
   border: 2px solid black;
   background-color: rgb(206, 206, 206);
}

.head {
   font-size: 20px;
   font-weight: bold;
}

.content {
   max-width: 700px;
   background-color: white;
   padding: 20px;
   border-radius: 7px;
   box-shadow: 2px 2px 4px rgb(85, 85, 85);
}
 
a {
   color: blue;
   text-decoration: none;
}

br {
   display: block; /* makes it have a width */
   content: ""; /* clears default height */
   margin-top: 10px; /* change this to whatever height you want it */
}

p.head {
   font-size: 20px;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-offset: 2px;
}

b {
   font-size: 16px;
}

.cert, .volunteer {
   margin: 10px;
}

.Certifications, .VolunteerWork {
   display: block;
}


