<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <!-- getImage() is written in the ts file -->
      <mat-card class="dashboard-card" [style.background-image]="card.imageName">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            {{card.imageName}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>