<!DOCTYPE html>
<html>

<body>
    <div class="space">
        <br>
    </div>
    <div class="content">
        <div class="btn-holder">
            <button mat-button><b><a href="./assets/smcgownResume.pdf">Download pdf</a></b>
                <img src="./assets/download.png" width=30>
            </button>
        </div>
        <div class="title">
            <br>
            <h1>Steven T. McGown</h1>
        </div>
        <div class="header">
            <h4>843-592-1633
                | stevenmcgown1@gmail.com
                | Github: <a href="https://github.com/StevenMcGown">StevenMcGown</a>
                | <a href="https://www.linkedin.com/in/steven-mcgown/">LinkedIn</a>
                | <a href="https://dev.to/stevenmcgown">Dev.to</a>
                | US Citizen</h4>
            <hr />
        </div>
        <br>
        <div class="Education">
            <p class="head"><u>EDUCATION</u></p>
            <br>
            <div style="display:inline;text-align:left; float: left; margin-right: 10px;">
                <img src="./assets/usc.png" height=65px>
            </div>
            <ul>
                <p><b>University of South Carolina</b> - Columbia, SC
                    (Fall 2016 - Spring 2021)</p>
                <p>B.S Computer Information Systems</p>
                <p><b>Minor: </b>Business Information Management</p>
            </ul>
        </div>
        <br>

        <p class="head"><u>RELEVANT COURSEWORK</u></p>
        <br>
        <ul>
            AI, Algorithmic Design, Blockchain Business Application,
            Computer Hardware, Cyber Security, Database Design, Programming, Software Development, Unix Fundamentals,
            Website UI
            <!--
                            Accounting, Algorithmic Design, Business Information Systems, Blockchain Business Application,
            Computer Hardware, Cyber Security, Database Design, Marketing, Programming, Public Relations,
            Rudimentary AI Development, Software Development, Unix Fundamentals, Website UI
            -->
        </ul>
        <br>

        <p class="head"><u>WORK EXPERIENCE</u></p>
        <br>
        <ul>
            <b>Chef and Customer Service - </b> UpperCrust (Spring 2013 - Summer 2016)<br>
            <div class=work>

                <b>Infrastructure Analyst Intern - </b>Dominion Energy (Summer 2019)
                <li>Enterprise network diagnositcs</li>
                <li>Manual/Automatic virtual deployment and retirement of Red Hat and Windows servers</li>
                <li>Fulfilling support tickets</li>
            </div>

            <br>
            <b>DoorDash Driver </b>(Summer 2020 - Present)
        </ul>


        <br>
        <p class="head"><u>SKILLS</u></p>
        <br>
        <ul>
            <li>Amazon Web Services: S3, EC2, RDS, IAM, Lambda, CloudFormation, CloudFront, CloudWatch, CloudTrail,
                DynamoDB, Route 53, Elastic Beanstalk, VPC, SNS</li>
            <li>Programming: Java, Python, C++, C#, HTML, CSS, Javascript, SQL, R, Bash, TypeScript, PowerShell</li>
            <li><a href="https://dev.to/stevenmcgown/docker-for-dummies-2bff">Docker</a>
                and <a href="https://dev.to/stevenmcgown/kubernetes-for-dummies-5hmh">Kubernetes with MiniKube and
                    Kubectl</a></li>
            <li>Git: Version control, GitHub actions</li>
            <li>Unit testing with pytest and JUnit</li>
            <li><a href="https://acmedemo-tefspy.web.app/chat">Chatbot</a> Design with Angular, Google Firebase and Dialog Flow</li>
            <li>OS: Windows XP - 10, Mac, Android, iOS, Various linux distros</li>
            <!--<li>Microsoft Office: Word, Excel, Outlook, Project, PowerPoint | Adobe: Photoshop</li>-->
            <li>Network diagnostics</li>
            <li>Cryptography</li>
        </ul>

        <!--
        <p class="head">EXTRACIRRICULARS</p>
        <ul>
            <li>Volunteer technician at Baptist Collegiate Ministry of Columbia, SC</li>
            &emsp;- Installation and maintenance of security system and internet connection<br>
            &emsp;- Tech Support for staff and members<br>
            &emsp;- Sound configuration and musician for ministry band<br>
            <li>Game Developer</li>
            &emsp;- Created a Java-based game engine<br>
            &emsp;- OpenGl Shading Language<br>
            &emsp;- OBJ Models and textures made in Blender<br>
        </ul>-->
        <br>

        <div class="Projects">
            <br>
            <p class="head"><u>PROJECTS</u><em style="text-decoration: none;">&nbsp;&nbsp;(Click to expand)</em></p>
            <br>
            <div class="accordion">
                <input type="checkbox" name="select" class="accordion-select" />
                <div class="accordion-title"><span><b>Cloud Resume Challenge</b></span></div>
                <div class="accordion-content" style="margin-left: 30px; margin-right: 30px;">
                    <br>
                    The Cloud Resume Challenge is a multiple-step resume project which helps build
                    and demonstrate skills fundamental to pursuing a career as an AWS Cloud Engineer.
                    The project was first published by Forrest Brazeal, who works at ACloudGuru, a
                    cloud education company.<br>

                    This resume webpage was completed to fulfill the requirements of the Cloud Resume
                    Challenge which can be found at:
                    <a href="https://cloudresumechallenge.dev/instructions/">
                        https://cloudresumechallenge.dev/instructions/</a><br>

                    <b>The documentation of completing this challenge can be found at:
                        <a href="https://dev.to/stevenmcgown/a-college-graduate-s-journey-to-cloud-computing-56m0">
                            https://dev.to/stevenmcgown/</a></b>
                </div>
                <input type="checkbox" name="select" class="accordion-select" />
                <div class="accordion-title"><span><b>Various GitHub projects</b></span></div>
                <div class="accordion-content" style="margin-left: 30px; margin-right: 30px;">
                    <br>
                    Various projects can be found on my GitHub which demonstrate programming,
                    software design, scripting and teamwork skills.<br>

                    <b><a href="https://github.com/StevenMcGown">https://github.com/StevenMcGown</a></b>

                </div>
                <input type="checkbox" name="select" class="accordion-select" />
                <div class="accordion-title"><span><b>Capstone Project - Cable Company Chatbot</b></span></div>
                <div class="accordion-content" style="margin-left: 30px; margin-right: 30px;">
                    <br>
                    This project was created using Angular JS and was hosted using Google Firebase.
                    The bot uses Google's Dialogflow service for chat recognition and responses.<br>
                    Chat with the chatbot, Download the chatbot to your own website,
                    Schedule an appointment for a technician to come to your house<br>

                    <b>The chatbot can be found at:
                        <a href="https://acmedemo-tefspy.web.app/">
                            https://acmedemo-tefspy.web.app/</a></b><br>

                    Other creators: Alden Perreyclear, Epiphany Christian, Jacob Rego, Jahred Danker
                </div>
                <input type="checkbox" name="select" class="accordion-select" />
                <div class="accordion-title"><span><b>Security Concerns and Solutions for Constrained Devices on the IoT
                            Framework</b>
                    </span></div>
                <div class="accordion-content" style="margin-left: 30px; margin-right: 30px;">
                    <br>
                    As the final assignment for a group presentation on information security principles, I worked with a
                    team of
                    students to research information security in relation to the Internet of Things (IoT)<br>

                    The paper seeks to investigate the problems associated with the power consumption
                    and computing power required to run cryptographic algorithms while staying in the
                    boundaries of the hardware constraints of the constrained devices.<br>

                    <b>This paper can be read
                        <a href="https://docs.google.com/document/d/1aLJJvzPSaXMF9HNI_lnSL4s4oF6phD1D8FrwhUdti60/edit">
                            here.</a></b><br>

                    Other contributers: Justin A. Hill, Lukas F. McClamrock, Mohit Krisnamurthy, Steven M. Allen
                </div>
            </div>
        </div>

        <br>

        <div class="VolunteerWork">
            <br>
            <p class="head"><u>VOLUNTEER WORK</u></p>
            <br>
            <div class=volunteer>

                <div style="display:inline;text-align:left; float: left; margin-right: 10px;">
                    <img src="./assets/eagle.png" height=65px>
                </div>
                <b>Eagle Scout - Troop 1</b> (Summer 2016)
                <ul>Eagle Scout Project: Collected and reviewed 4,000+ books to create a school
                    library for Bridge's Preparatory School in Beaufort SC. Leader to scouts from
                    ages 11 - 18.</ul>
            </div>
        </div>

        <br>

        <div class="Certifications">
            <p class="head"><u>CERTIFICATIONS</u></p>
            <br>

            <div class=cert>
                <div style="display:inline;text-align:left; float: left; margin-right: 10px;">
                    <img src="./assets/amazon.png" width=70px>
                </div>
                <a href="https://www.credly.com/badges/b5e1cdd5-cdb3-4cf5-ad0a-9eac7ec39bcc?source=linked_in_profile"><b>AWS
                        Certified Cloud Practitioner -
                    </b></a>Beaufort,
                SC (June 2021)
                <ul><i>"Knowledge and skills necessary to effectively demonstrate
                        an overall understanding of the AWS Cloud, independent of specific technical roles addressed
                        by other AWS Certifications."</i></ul>
            </div>


            <div class=cert>
                <div style="display:inline;text-align:left; float: left; margin-right: 10px;">
                    <img src="./assets/testout.jpeg" height=65px>
                </div>
                <a href="https://verification.testout.com/?id=CVJXS"><b>Testout PC Pro - </b></a>Beaufort, SC (March
                2016)
                <ul><i>"Measures an examinee's ability to install, repair, configure, secure, and manage the
                        following systems and devices: Computer Operating Systems, PC Hardware, PC Software,
                        Basic Networking Devices and Printers"</i></ul>
            </div>
            <br>
            <div class=cert>
                <div style="display:inline;text-align:left; float: left; margin-right: 10px;">
                    <img src="./assets/redcross.jpeg" height=65px>
                </div>
                <a
                    href="https://www.redcross.org/take-a-class/qrcode?certnumber=0040VU4&selectedCerts=id-0040VU4%2C&size=wallet"><b>Red
                        Cross Adult and Pediatric First Aid/CPR/AED</b></a> (January 2020)
                <ul><i>"Gives knowledge and confidence to take the appropriate action in case of an emergency
                        involving a child or an adult."</i></ul>
            </div>
        </div>
        <br>
        <p style="text-align: center;">This page has been visited <b>{{visitors}}</b> times.</p>
    </div>

</body>

</html>