* {
  /* max-width: 700px; */
   margin: auto;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h4 {
   text-align: center;
   margin: auto;
}

h1 {
   font-weight: bold;
   font-size: xx-large;
}

h4 {
   padding: 0px;
   font-weight: 400;
}

.counter {
   max-width: 225px;
   text-align: center;
   border: 2px solid black;
   background-color: rgb(206, 206, 206);
}

.head {
   margin: auto;
   font-size: 20px;
   font-weight: bold;
}

.content {
   max-width: 700px;
   background-color: white;
   padding: 20px;
   border-radius: 7px;
   box-shadow: 2px 2px 4px rgb(85, 85, 85);
}
 
a {
   color: blue;
   text-decoration: none;
}

br {
   display: block; /* makes it have a width */
   content: ""; /* clears default height */
   margin-top: 10px; /* change this to whatever height you want it */
}

p {
   margin: auto;
}

p.head {
   font-size: 20px;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-offset: 2px;
}

b {
   font-size: 16px;
}

.cert, .volunteer {
   margin: 10px;
}

.btn-holder {
   margin: -15px;
}

.accordion {
   box-sizing: border-box;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;
   width: 100%;
}

.accordion-select {
   cursor: pointer;
   margin: 0;
   opacity: 0;
   z-index: 1;
}

.accordion-title {
   position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
   border: 1px solid transparent;
   bottom: 0;
   content: '';
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
}

.accordion-title span {
   bottom: 0px;
   box-sizing: border-box;
   display: block;
   position: absolute;
   white-space: nowrap;
   width: 100%;
}

/* Speed*/
.accordion-content {
   box-sizing: border-box;
   overflow: auto;
   position: relative;
   transition: margin .3s ease 0.1s;
}

.accordion-select:checked+.accordion-title+.accordion-content {
   margin-bottom: 0;
   margin-right: 0;
}

/* Generated styles starts here */

.accordion {
   border-color: #ffffff;
   border-radius: 8px;
   border-style: solid;
   border-width: 3px;
   flex-direction: column;
   height: auto;
}

/* Unclicked */
.accordion-title,
.accordion-select {
   background-color: #f1f1f1;
   color: #000000;
   width: 100%;
   height: 65px;
   font-size: 17px;
}

.accordion-select {
   margin-bottom: -65px;
   margin-right: 0;
}

.accordion-title:not(:nth-last-child(2))::after {
   border-bottom-color: rgb(207, 207, 207);
   border-right-color: transparent;
}

/* Current clicked project */
.accordion-select:hover+.accordion-title,
.accordion-select:checked+.accordion-title {
   background-color: #dddddd;
}

.accordion-title span {
   transform: rotate(0deg);
   -ms-writing-mode: lr-tb;
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
   padding-left: 33px;
   padding-right: 33px;
   line-height: 65px;
}

/* Content attributes */
.accordion-content {
   background-color: #ffffff;
   color: #080808;
   height: 190px;
   margin-bottom: -190px;
   margin-right: 1px;
}

.accordion-content #text {
   margin-top: 10px;
}